<div class="item-list relevant-content">
  <ul class="relevant-content">
    {%- for node in nodes -%}
      <li>
        <a href="{{ path('entity.node.canonical', {'node': node.entity.id}) }}">{{ node.entity.label }}</a>
      </li>
    {%- endfor -%}
  </ul>
</div>
